# Ignore the output folder
output/
SOF_excel/
SOF_json/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/

# Ignore IDE configuration files
.vscode/
.idea/